<script type="text/ng-template" id="property-form.html">
  <form >
      <p class="form-group">
        <label>Name</label>
        <input type="text" ng-model="property.name" class="form-control">
      </p>
      <p class="form-group">
        <label>Description</label>
        <textarea  ng-model="property.description" class="form-control"></textarea>
      </p>
      <p class="form-group">
        <label>Address</label>
        <input type="text" ng-model="property.address" class="form-control">
      </p>

      <div ngIf="property.units_attributes.length > 0">
        <h3>Units</h3>
        <div ng-repeat="unit in property.units_attributes">
          <p class="form-group" >
            <label>Number</label>
            <input type="number" ng-model="unit.number" class="form-control">
          </p>
          <p class="form-group" >
            <label>Area</label>
            <input type="number" step="0.01" ng-model="unit.area" class="form-control">
          </p>
          <span ng-click="deleteUnit($index)">Delete unit</span>
        </div>
        
        <span ng-click="addUnit()" class="pull-right">Add unit</span>
      </div>
      <button ng-click="save()" class="btn btn-primary">save </button>

  </form>
</script>