<script type="text/ng-template" id="search-form.html">
  <form class="form-horizontal">
    <h3>Search</h3>
    <div class="row">
      <div class="col">
        <input type="text" placeholder="Name" ng-change="search(object)" ng-model="object.name_cont" class="form-control">
      </div>
      <div class="col">
        <input type="text" placeholder="Description" ng-change="search(object)"  ng-model="object.description_cont" class="form-control">
      </div>
      <div class="col">
        <input type="text" placeholder="Address" ng-change="search(object)" ng-model="object.address_cont" class="form-control">
      </div>
    </div>
     
     
     

  </form>
</script>