<script type="text/ng-template" id="property-unit-edit-modal.html">
  <h2>Modal</h2>
  <div class="modal-header">
      <h3 class="modal-title" id="modal-title">Edit property unit</h3>
  </div>
  <div class="modal-body" id="modal-body">
      
      <form >
          <p class="form-group">
            <label>Number</label>
            <input type="number" ng-model="unit.number" class="form-control">
          </p>
          <p class="form-group">
            <label>Area</label>
            <input type="number" ng-model="unit.area" class="form-control">
          </p>
      </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
      <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
  </div>
</script>