<script type="text/ng-template" id="properties-list.html">
  <h2>Properties</h2>

  <div search-form object="q" search="searchProperties(q)" ></div>

  <div class="properties_block">
    <div class="property_row property_header header">
        <span class="property_col">Id</span>
        <span class="property_col">Name</span>
        <span class="property_col">Description</span>
        <span class="property_col">Address</span>
        <span class="property_col"></span>
    </div>
    <div class="property_row" ng-repeat="property in $ctrl.foundProperties">
      <div ng-click="showDetails = ! showDetails">
        <span class="property_col">{{property.id}}</span>
        <span class="property_col">{{property.name}}</span>
        <span class="property_col">{{property.description}}</span>
        <span class="property_col">{{property.address}}</span>
        <span class="property_col property_actions">
          <a ui-sref="properties-edit({propertyId: property.id})">
            Edit property
          </a>
          <a ng-click="archiveProperty({event: $event, propertyId: property.id})">
            Achive property
          </a>
        </span>
      </div>
      <div ngIf="property.units.length > 0" ng-show="showDetails" class="units_block">
          <div class="units_header header">
              <span class="unit_col">Unit Number</span>
              <span class="unit_col">Unit Area</span>
              <span class="unit_col"></span>
          </div>
          <div ng-repeat="unit in property.units">
              <span class="unit_col">{{unit.number}}</span>
              <span class="unit_col">{{unit.area}}</span>
              <span class="unit_col"> 
                <a ui-sref="editUnit(unit.id)">
                  Edit unit
                </a></span>
          </div>
      </div>
    </div>
  </div>

  <a ui-sref="properties-new" class="btn btn-primary pull-right">
    Add Property
  </a>

</script>