@import '~bootstrap/dist/css/bootstrap';

.header{
  font-weight: bold;
}
.property_row{
  cursor: pointer;
  padding: 10px 0;
  border-bottom: 1px solid lightgrey;
}

.property_col{
  display: inline-block;
  width: 19%;
}
.unit_col {
  display: inline-block;
  width: 19%;
}
.property_actions a{
  cursor: pointer;
}
.units_block{
  padding: 10px 20px;
}
.properties_block{
  margin-bottom: 20px;
}

.row{
  display: flex;
  flex-direction: row;
  margin: 0;
}