<!DOCTYPE html>
<html>
  <head>
    <title>PropertiesManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <base href="/"/>
    <%= stylesheet_pack_tag 'stylesheets' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body ng-app="propertiesManager">
    <div class="container">
      <div ui-view></div>
    </div>
    <%= render template: 'ng_app/templates/directives/property/property-form' %>
    <%= render template: 'ng_app/templates/directives/property/search-form' %>
    <%= render template: 'ng_app/templates/components/property/properties-new' %>
    <%= render template: 'ng_app/templates/components/property/properties-edit' %>
    <%= render template: 'ng_app/templates/components/property/properties-list' %>
    <%= render template: 'ng_app/templates/components/property/property-unit-edit-modal.html' %>

  </body>
</html>


